{{!-- <center>
<form method="post" action="" style=" border:1px solid rgb(117, 117, 200);padding:10px;width:400px" >

  <div>
    
    <label for="catagoryName">catagoryName</label>
    <select name="cata" >
    <option>select</option>
    </select>
  </div>


<div>
  <label for="SubcatagoryName">SubcatagoryName</label>
    <select name="cata" >
    <option>select</option>
    </select>

  
</div>

<div>
<label for="ProductName">ProductName</label>
<input type="text" name="ProductName" value="{{result.ProductName}}">
</div>


<div>
<label for="Discription">Discription</label>
<input type="text" name="Discription" value="{{result.Discription}}">
</div>

<div>
<label for="ProductPrice">ProductPrice</label>
<input type="text" name="ProductPrice" value="{{result.ProductPrice}}">
</div>

<div>
<label for="productimage">productimage</label>
<input type="file" name="productimage">
</div>


<div>
  <button type="submit">submit</button>
  <button type="view"><a href="/admin/product_table">view</a></button>
</div>
</center>
</form> --}}